@import './fonts.scss';

// $font-bold: normal 700 Montserrat, Inter;
// $font-semiBold: normal 600 Montserrat, Inter;
// $font-medium: normal 500 Montserrat, Inter;
$font-regular: normal 400 20px/26px 'Montserrat', Inter;


$color-green: #339933;
$color-white: #339933;
$color-black: #282828;
$color-white: #FFFFFF;
$color-light-grey: #F1F3F4;
$color-grey-divider: #DDDDDD;
$color-txt-grey: #8B8B8B;
$color-layout: #28282866;

$container-max-width: 1360px;
$gutter: 16px;
$section-mb: 80px;