@use './fonts';
@use './variables' as v;




main {
  max-width: 1440px;
  margin: 0 auto;
}


.container {
  width: 100%;
  max-width: v.$container-max-width;
  margin: 0 auto;
}

html,
body {
  scrollbar-gutter: stable;
}

.bodyFixed {
  overflow: hidden;
}